fieldset{
  background-image: url('akcar4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  background-image: url('image1.jpg');
}
b{
  color: white;
  font-size: xx-large;
}
p{
  color: #ffffff;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}
h1{
    text-align-last: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(252, 252, 252);
    background-color: #ff11eb;
    padding: 16px;
}
  input[type=text], input[type=password] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text], input[type=number] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text], input[type=date] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text], input[type=Time] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text], input[type=checkbox] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:#ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #d40c5f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
  }
  
 
  button:hover {
   background-color: blueviolet;
    color:rgb(64, 255, 96);
  }
  
  .cancelbtn, .confirm {
    float: left;
    width: 30%;
  }
  /* Adding padding to container elements */
  .container {
    padding: 26px;
  }


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .confirm {
    width: 30%;
  }
}