body{
  background-image: url('akcar2.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  background-color: white;
  
    text-align-last: center;
    font-size: xx-large;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 7, 7);
    
}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:#ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  p{
    color: rgb(255, 255, 255);
    font-size:bolder;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  a{
    color: rgb(255, 40, 40);
  }
 
  .cancelbtn {
    padding: 14px 20px;
    background-color: #fa2d1f;
  }
  .cancelbtn:hover {
    padding: 14px 20px;
    background-color: #f05146;
  }
  
  .signupbtn {
    padding: 14px 20px;
    background-color: #19e667;
  }
  .signupbtn:hover {
    padding: 14px 20px;
    background-color: #0fa11c;

  }
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  .container {
    padding: 26px;

  }
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}